# Importing Libraries and Dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
%matplotlib inline
import warnings                        
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('C:/Users/HP/Desktop/Applications_for_Machine_Learning_internship_edited.csv')

In [3]:
df.dtypes

Name                                                                                                 float64
Python (out of 3)                                                                                      int64
Machine Learning (out of 3)                                                                            int64
Natural Language Processing (NLP) (out of 3)                                                           int64
Deep Learning (out of 3)                                                                               int64
Other skills                                                                                          object
Are you available for 3 months, starting immediately, for a full-time work from home internship?      object
Degree                                                                                                object
Stream                                                                                                object
Current Year Of Graduation                                                                             int64
Performance_PG                                                                                        object
Performance_UG                                                                                        object
Performance_12                                                                                        object
Performance_10                                                                                        object
dtype: object

# Data Preprocessing

In [4]:
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,NaN,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN
2,NaN,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,NaN,NaN,NaN,NaN
3,NaN,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,NaN,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

In [5]:
df.describe()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Current Year Of Graduation
count,0.0,1136.000000,1136.000000,1136.000000,1136.000000,1136.000000
mean,NaN,1.792254,1.300176,0.497359,0.662852,1994.375000
std,NaN,0.917270,1.016446,0.861303,0.938587,238.489554
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,1.000000,0.000000,0.000000,0.000000,2023.000000
50%,NaN,2.000000,2.000000,0.000000,0.000000,2023.000000
75%,NaN,2.000000,2.000000,1.000000,1.000000,2024.000000
max,NaN,3.000000,3.000000,3.000000,3.000000,2027.000000

In [6]:
df.shape

(1136, 14)

# Find missing values

In [7]:
df.isnull()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,True,False,False,False,False,False,False,False,False,False,True,False,True,True
1,True,False,False,False,False,False,False,False,False,False,True,False,True,True
2,True,False,False,False,False,False,False,False,False,False,True,True,True,True
3,True,False,False,False,False,False,False,False,True,False,True,True,False,False
4,True,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,True,False,False,False,False,False,False,False,False,False,True,True,True,True
1132,True,False,False,False,False,False,False,False,False,False,True,True,True,True
1133,True,False,False,False,False,False,False,False,False,False,True,False,False,True
1134,True,False,False,False,False,False,False,False,False,False,True,False,False,True
1135,True,False,False,False,False,False,False,False,False,False,True,True,True,True

In [8]:
df.isnull().sum()

Name                                                                                                 1136
Python (out of 3)                                                                                       0
Machine Learning (out of 3)                                                                             0
Natural Language Processing (NLP) (out of 3)                                                            0
Deep Learning (out of 3)                                                                                0
Other skills                                                                                           66
Are you available for 3 months, starting immediately, for a full-time work from home internship?        0
Degree                                                                                                 43
Stream                                                                                                170
Current Year Of Graduation                                                                              0
Performance_PG                                                                                        952
Performance_UG                                                                                        654
Performance_12                                                                                        643
Performance_10                                                                                        709
dtype: int64

In [9]:
df.isna()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,True,False,False,False,False,False,False,False,False,False,True,False,True,True
1,True,False,False,False,False,False,False,False,False,False,True,False,True,True
2,True,False,False,False,False,False,False,False,False,False,True,True,True,True
3,True,False,False,False,False,False,False,False,True,False,True,True,False,False
4,True,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,True,False,False,False,False,False,False,False,False,False,True,True,True,True
1132,True,False,False,False,False,False,False,False,False,False,True,True,True,True
1133,True,False,False,False,False,False,False,False,False,False,True,False,False,True
1134,True,False,False,False,False,False,False,False,False,False,True,False,False,True
1135,True,False,False,False,False,False,False,False,False,False,True,True,True,True

In [10]:
df.isna().any()

Name                                                                                                  True
Python (out of 3)                                                                                    False
Machine Learning (out of 3)                                                                          False
Natural Language Processing (NLP) (out of 3)                                                         False
Deep Learning (out of 3)                                                                             False
Other skills                                                                                          True
Are you available for 3 months, starting immediately, for a full-time work from home internship?     False
Degree                                                                                                True
Stream                                                                                                True
Current Year Of Graduation                                                                           False
Performance_PG                                                                                        True
Performance_UG                                                                                        True
Performance_12                                                                                        True
Performance_10                                                                                        True
dtype: bool

In [11]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1131    False
1132    False
1133    False
1134    False
1135    False
Length: 1136, dtype: bool

In [12]:
df.duplicated().shape

(1136,)

In [13]:
df['Other skills'] = df['Other skills'].fillna('Unknown')

In [14]:
df1=df['Other skills']

In [15]:
print(df1)

0       MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...
1       Git, GitHub, Linux, Adobe After Effects, Adobe...
2       Amazon Web Services (AWS), Docker, Hadoop, MS-...
3       Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...
4       C++ Programming, Data Science, Machine Learnin...
                              ...
1131    Data Analytics, Amazon Web Services (AWS), Dat...
1132    Deep Learning, Docker, HTML, MS-Office, Machin...
1133    Data Science, Deep Learning, English Proficien...
1134    Python, Data Analytics, MS-Excel, Machine Lear...
1135    C++ Programming, Database Management System (D...
Name: Other skills, Length: 1136, dtype: object

In [16]:
df1.isna()

0       False
1       False
2       False
3       False
4       False
        ...
1131    False
1132    False
1133    False
1134    False
1135    False
Name: Other skills, Length: 1136, dtype: bool

In [17]:
df1.isnull().sum()

0

In [18]:
df['Stream'] = df['Stream'].fillna('Unknown')

In [19]:
df2=df['Stream']

In [20]:
print(df2)

0                 Software Engineering
1       Computer Science & Engineering
2           Data Science And Analytics
3                              Unknown
4                     Computer Science
                     ...
1131            Mechanical Engineering
1132    Computer Science & Engineering
1133     Electronics and Communication
1134                  Computer Science
1135                       Engineering
Name: Stream, Length: 1136, dtype: object

In [21]:
df2.isna()

0       False
1       False
2       False
3       False
4       False
        ...
1131    False
1132    False
1133    False
1134    False
1135    False
Name: Stream, Length: 1136, dtype: bool

In [22]:
df2.isnull().sum()

0

In [23]:
df['Degree'] = df['Degree'].fillna('Unknown')

In [24]:
df3=df['Degree']

In [25]:
print(df3)

0       Bachelor of Vocation (B.Voc.)
1                              B.Tech
2            Master of Science (M.S.)
3       Bachelor of Engineering (B.E)
4                              B.Tech
                    ...
1131                           B.Tech
1132                           B.Tech
1133                           B.Tech
1134                           B.Tech
1135                           B.Tech
Name: Degree, Length: 1136, dtype: object

In [26]:
df3.isna()

0       False
1       False
2       False
3       False
4       False
        ...
1131    False
1132    False
1133    False
1134    False
1135    False
Name: Degree, Length: 1136, dtype: bool

In [27]:
df3.isnull().sum()

0

In [28]:
df['Performance_PG']= df['Performance_PG'].fillna(0)

In [29]:
print(df['Performance_PG'])

0       0
1       0
2       0
3       0
4       0
       ..
1131    0
1132    0
1133    0
1134    0
1135    0
Name: Performance_PG, Length: 1136, dtype: object

In [30]:
df['Performance_UG']= df['Performance_UG'].fillna(0)

In [31]:
print(df['Performance_UG'])

0        6.50/7
1       8.90/10
2             0
3             0
4       8.10/10
         ...
1131          0
1132          0
1133    8.77/10
1134    7.90/10
1135          0
Name: Performance_UG, Length: 1136, dtype: object

In [32]:
df['Performance_12']= df['Performance_12'].fillna(0)

In [33]:
print(df['Performance_12'])

0                 0
1                 0
2                 0
3       85.60/85.60
4       93.40/93.40
           ...
1131              0
1132              0
1133      9.40/9.40
1134    90.00/90.00
1135              0
Name: Performance_12, Length: 1136, dtype: object

In [34]:
df['Performance_10']= df['Performance_10'].fillna(0)

In [35]:
df['Performance_10']

0                 0
1                 0
2                 0
3       10.00/10.00
4       10.00/10.00
           ...
1131              0
1132              0
1133              0
1134              0
1135              0
Name: Performance_10, Length: 1136, dtype: object

Missing values are present in 3 categorical variables otherskils,degree,stream and 4 numeric variables such as Performance_PG    Performance_UG,Performance_12,Performance_10.Categorical variables are replace by unknown value.For numeric variables firstly convert this 4 columns by text to colums in excel into fraction.Then replace Nan values by na and this na values replace by 0.so,all missing values are removed.

In [39]:
df['Are you available for 3 months, starting immediately, for a full-time work from home internship?'].value_counts()

KeyError: 'Are you available for 3 months, starting immediately, for a full-time work from home internship?'

In [40]:
df['Are you available for 3 months, starting immediately, for a full-time work from home internship?'].replace(to_replace=['Yes'],value=1,inplace=True)
df['Are you available for 3 months, starting immediately, for a full-time work from home internship?'].replace(to_replace=['No'],value=0,inplace=True)
df.head()

KeyError: 'Are you available for 3 months, starting immediately, for a full-time work from home internship?'